body {
    background-color: #e3e8ec;
    margin: 10px;
}

.logo {
    margin: auto;
    display: block;
    width: 64px;
}

/*Animação da logo*/
.logo:hover {
    animation: rotation 2s infinite linear;
}

/*Animação da Camerasinha*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.banner {
    text-align: center;
}

.cate {
    text-decoration: none;
}


#brioche {
    padding: 10px;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#brio2 {}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

#receita {

    text-align: center;
    background-color: #abb9c4;
    font-size: 20px;
}

#brio3 {
    text-align: initial;
    padding: 10px;
    justify-content: space-between;
    margin-right: 10px;
    margin: auto;
    font-size: 20px;
}

#bordavd {
    display: flex;
    padding: 70px;
    text-align: center;
}

.junto {

    justify-content: center;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#Ncolor {
    display: flex;
    background-color: #abb9c4;
    border-radius: 10px;
    width: 100%;
    margin: 5px;
    justify-content: center;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);

}

.news2{
    display: flex;
    background-color: #abb9c4;
    border-radius: 5px;
    width: 90%;
    justify-content: center;
    margin: 45px;
    padding: 1px;
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
}

