

body { background-image:linear-gradient(#e3e8ec, #34576b )}

.articles{ margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    background-color: white ;
     padding: 8%;
}

div { background: #e3e8ec; padding-top: 5%;
padding-bottom: 5%;}
.sections{ display: flex;}

#imgs{ 
    height: 64px;
    width: 64px;
}

#titulonoticia{ font-size: larger;
font-style: oblique ;
}

.articles:hover{ background-color: aquamarine;}


iframe{ width: 100%;}

#titulo{font-size: xx-large;
text-align: center;
font-style: italic;}



#vejatambem{ display: flex;
flex-direction: column;
}

/*Edição geral da Camerasinha*/
#img1 {
    height: 64px;
    width: 64px;
    padding: 10px;
    margin-left: 47%;
}

/*Animação da logo*/
#img1:hover {
    width: 64px;
    animation: rotation 2s infinite linear;
}

/*Animação da Camerasinha*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#p1:hover {font-size: larger; color: grey;}

a { text-decoration: none;
color: black;}


body{
    background-color:#e3e8ec ;
    background-image: linear-gradient(#34576b, #e3e8ec);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    text-align: center;
}
#ha1 {
    text-align: center;
}

#article_1 {
    display: flex;
    margin-left: 10%;
    list-style-type: none;
}

h2 {
    text-align: center;
}

.img_1 {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.sections {
    padding: 10px;
    justify-content: space-between;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: justify;
    margin: auto;
    border-radius: 10px;
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    background-color: #d7d6d4;
    width: auto;
    height: 10%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    transform: scale(1.10);
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
}

#h1{
    text-align: center;
    
}
