body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#e3e8ec,#34576b );
    height: 100vh;
}
h1 {
    text-align: center;
    font-size: 40px;
}
#pa6 {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
#pa4 {
    border: blanchedalmond;
    height: 50px;
    background-color:#69717c ;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}
#pa2 {
    border-color: black;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
#pa1 {
    border-color: black;
    outline: 0;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
#pa3 {
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

}
body {
    margin: 0;
    padding: 0;
   
}
#pa6 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}
#pa4:hover {
    background-color:white ;
    box-shadow: 0 0 50px black;
}
input:hover {
    box-shadow: 0 0 50px black;
}
p{
    text-align: center;
    
}
article{
    justify-content: center;
}

