/*estilização do corpo*/
body {
    padding: 0;
    margin: 0;
    background-color: rgb(246,235,213);
}
/* estilização da div*/
div {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
}
/*imagen sucess*/
#img1 {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
}
/*estilização do botão*/
#button {
    background-color:#7e94a2;
}
/*  estilização do iframe*/
#iframe1 {
    position: fixed;
    bottom: 0;
    height: 120px;
}
/* segunda parte da estilização do iframe*/
#iframe1 {
    position: fixed;
    bottom: 0;
    height: 120px;
}
#button:houver{
    background-color: black;
}