<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
    <title>Document</title>
</head>

<body>
    <footer>
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>AlphaTech</h3>

                <p class="links">
                    <a href="../index.html">Home</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="../pages/finalização/feedback.html">Feedback</a>
                    ·
                    <a href="../pages/finalização/contato.html">Contact</a>
                </p>

                <p class="footer-company-name">AlphaTech © 2023</p>

                <div class="footer-icons">

                    <a
                        href="https://linktr.ee/Eu__53?utm_source=linktree_profile_share&ltsid=120dd9ae-d6ff-47b2-b637-bba3a522de0c"><i
                            class="lintree"><img src="../assets/images/logo-lintree.png" alt=""></i></a>
                    <a href="https://github.com/andreybotero/Alpha-News.git" target="_blank"><i class="github"></i><img
                            src="../assets/images/logo-git.png" alt=""></a>

                </div>

            </div>

            <div class="footer2">

                <p>Deixe sua opinião</p>

                <form action="#" method="post">

                    <input type="text" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    <button>Send</button>

                </form>

            </div>

        </footer>
    </footer>
</body>

</html>