<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <footer class="footer-geral">

            <div class="footer2">

                <h3>AlphaTech</h3>

                <p class="links">
                    <a href="../index.html">Home</a>
                    ·
                    <a href="../pages/sobrenos.html">Sobre nós</a>
                    ·
                    <a href="../pages/finalização/feedback.html">Feedback</a>
                    
                    <a href="../pages/finalização/contato.html">Contact</a>
                </p>

                <p class="nome">AlphaTech © 2023</p>

                <div class="git-insta">

                    <a
                        href="https://linktr.ee/Eu__53?utm_source=linktree_profile_share&ltsid=120dd9ae-d6ff-47b2-b637-bba3a522de0c" target="_blank"><i
                            class="lintree" ><img src="../assets/images/Instagram-logo.png" alt="logo do instagram"></i></a>
                    <a href="https://github.com/andreybotero/Alpha-News.git" target="_blank"><i class="github"></i><img
                            src="../assets/images/logo-git.png" alt="logo do github"></a>

                </div>

            </div>

            <div class="footer3">

                <p>Caso duvidas, entre em contato</p>

                <form action="#" method="post">

                    <input type="text" name="email" placeholder="Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    
                    <button>Enviar</button>

                </form>

            </div>

        </footer>
    </footer>
</body>

</html>