<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
    <link rel="icon" href="../assets/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>

    <!--Edição geral do footer-->
    <footer class="footer-geral">
        <!--div para edição unilateral do footer-->
        <div class="footer2">

            <h3>AlphaTech</h3>

            <p class="links">
                <a href="../index.html" target="_parent">Home </a>
                ·
                <a href="../pages/Sobre nós/sobrenos.html" target="_parent">Sobre nós</a>
                ·
                <a href="../pages/finalização/feedback.html" target="_parent">Feedback </a>
                ·
                <a href="../pages/finalização/contato.html" target="_parent">Contato</a>
            </p>
            <!--P para a marcação de direitos sobre nosso nome e marca-->

            <p class="nome">AlphaTech © 2023</p>
            <!--Link para o instagram e github de nossos participantes-->

            <div class="git-insta">
                <!--Link para o instagram de nossos participantes-->
                <a href="https://linktr.ee/Eu__53?utm_source=linktree_profile_share&ltsid=120dd9ae-d6ff-47b2-b637-bba3a522de0c"
                    target="_blank"><i class="lintree"><img src="../assets/img/Instagram-logo.png"
                            alt="logo do instagram"></i></a>
                <!--Link para o github de nosso techlider-->
                <a href="https://github.com/andreybotero/Alpha-News.git" target="_blank"><i class="github"></i><img
                        src="../assets/img/logo-git.png" alt="logo do github"></a>

            </div>

        </div>
            <!--Link para o instagram de nossos participantes-->

        <div class="footer3">
            <!--Caixa simples de texto-->

            <p>Caso duvidas, entre em contato</p>
            <!--Form de texto para preenchimento-->

            <form action="sucess" method="" target="_parent">

                <input type="text" name="email" placeholder="Email" required>
                <textarea name="message" placeholder="Message" required></textarea>

            <!--Botão de enviar-->

                <button>Enviar</button>

            </form>

        </div>

    </footer>

</body>

</html>