<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../assets/img/logo.png" type="image/x-icon"> 
        <link rel="stylesheet" href="header.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
    </head>
</head>

<body>

    <header>
        <!--Div para edição geral do header-->
        <div class="header">
            <!--Logo de nossa equipe-->
            <img src="../assets/img/logo.png" alt="logo da nossa equipe">
            <section class="conteiner">

                <nav>
                    <ul>

                        <!--Link para uma das paginas-->
                        <a href="../index.html" target="_parent">
                            <li>Inicio</li>
                        </a>

                        <!--Link para uma das paginas-->
                        <a href="../pages/categories/categorias.html" target="_parent">
                            <li>Noticias</li> 
                        </a>

                        <!--Link para uma das paginas-->
                        <a href="../pages/Sobre nós/sobrenos.html" target="_parent">
                            <li>Sobre nós</li>
                        </a>

                        <!--Link para uma das paginas-->
                        <a href="../pages/finalização/newfeedback.html" target="_parent">
                            <li>Feedback</li>
                        </a>

                        <!--Link para uma das paginas-->
                        <a href="../pages/finalização/contato.html" target="_parent">
                            <li>Contato</li>
                        </a>

                    </ul>
                </nav>
            </section>
        </div>
    </header>

</body>

</html>
