<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../assets/img/logo.png" type="image/x-icon"> 
        <link rel="stylesheet" href="header.css">
        <title>Header</title>
    </head>
</head>

<body>

    <header>
        <div class="header">
            <img src="../assets/img/logo.png" alt="logo da nossa equipe">
            <section class="conteiner">

                <nav>
                    <ul>


                        <a href="../index.html">
                            <li>Inicio</li>
                        </a>

                        <a href="#">
                            <li>Noticias</li>
                        </a>

                        <a href="../pages/finalizar/about-us.html">
                            <li>Sobre nós</li>
                        </a>

                        <a href="../pages/finalizar/Feedback.html">
                            <li>Feedback</li>
                        </a>

                        <a href="../pages/finalizar/Contact.html">
                            <li>Contato</li>
                        </a>

                    </ul>
                </nav>
            </section>
        </div>
    </header>

</body>

</html>