<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="logo.png" type="image/x-icon">
        <link rel="stylesheet" href="header.css">
        <title>Header</title>
    </head>
</head>

<body>

    <header>
        <div class="header">
            <nav>
                <ul>
                    <img src="../assets/images/logo.png" alt="logo da nossa equipe">

                    <a href="#">
                        <li>Home</li>
                    </a>

                    <a href="#">
                        <li>News</li>
                    </a>

                    <a href="#">
                        <li>Feedback</li>
                    </a>

                    <a href="#">
                        <li>Contact us</li>
                    </a>
                </ul>
            </nav>
            </div>
    </header>

</body>

</html>