#di123 {
    display: flex;
}

#loco1 {
    background-color: #57788b;
    border:3px ridge black;
    width:30%;
    margin:2%;
    border-radius:25px;
}

#vencesim {
    border:3px black ridge;
    margin:auto;
    width:75%;
    margin-left:12.5% ;
    border-radius:10%;
}

#title {
    text-align: center;
    font-size:30px;
}

#text-T {
    text-align: center;
    font-size:20px;
    width:75%;
    margin-left:12.5%;
    background-color: #abb9c4;
}

#backside {
    background-color: #cac3b9;
    margin-left: 12.5%;
    margin-right:12.5%;
    border-radius:25px;
    border:5px black ridge;
    -webkit-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
}

#vencesim:hover {
    scale:1.07;
    transition:1s;
    -webkit-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
}

#loco1:hover {
    scale:1.07;
    transition:1s;
    -webkit-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 51px 13px rgba(0,0,0,0.6);
}