* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c8c5a7;
}

#clima {
    margin: 10px;
    margin: bottom;
    position: fixed;
    width: 110px;
}

.conteiner {
    background-color: black;
}