section {
    display: flex;
    padding: 7%;
    flex-direction: column;
}

body {
    background-color: #c8c5af;
}

.div2 {
    display: flex;
}

.imgdasec {
    margin: auto;
    display: block;
    border-radius: 70%;
}

article {
    margin: 5px;
}

#pags:hover {
    zoom: 110%;

}

#divana {
    flex-direction: column;
}

.text {
    font-size: 15px;
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.text2 {
    text-align: justify;
    font-kerning: none;
    font-size: large;
}

.nome {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#pags {
    background-color: none;
    border-radius: 23px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
    padding: 15px;
    margin-left: 30%;
}

* {
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    position: relative;
    margin-bottom: -15px;
}