body {
    background-image: linear-gradient(#34576b, #e3e8ec);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#ha1 {
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: georgia;
    border-radius: 5px;
    margin-left: 85px;
    margin-right: 85px;   
    padding: 15px;
}

#art01 {
    display: flex;
    margin: 50px;
    padding: 2%;
    list-style-type: none;
}
h2 {
    font-size: 20px;
    font-family: georgia;
    background-color: #000; 
    color: #fff;
    text-align: end;
    align-items: end;
    justify-content: end;
}

a {
    text-decoration: none;
}

div p {
    display: flex;
    height: 100px;
    background-color: #34576b;
    align-items: end;
}

img {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
pa1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}
    
#festfigo{
    background-image: url(../../../../img/festa\ do\ figo.webp); opacity: 3,6;
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    
}
#porksfest{
    background-image: url(../../../../img/porks\ festival.jfif);
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#casacult{
    background-image: url(../../../../img/casa\ da\ cultura.webp);
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#biblioteca{
    background-image: url(../../../../img/biblioteca\ publica.jpg);
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#artederua{
    background-image: url(../../../../img/arte\ de\ rua.jpg);
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#batalha{
    background-image: url(../../../../img/batalha\ de\ rima.webp);
    background-size: cover;
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}

section:hover{
    transform: scale(1.10);
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
}