body {
    background-color: #cab98c;
    margin: 0;
    padding: 0;
    background-image: url(../../../../img/banner\ cultura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10px;
    margin-bottom: 200px;
}
#ha1 {
    
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: georgia;  
    padding: 15px;
}

.art01 {
    display: flex;
    margin: 50px;
    padding: 2%;
    list-style-type: none;
    justify-content: space-evenly;
}
h2 {
    font-size: 20px;
    font-family: georgia;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
}

a {
    text-decoration: none;

}

p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: #000000;
    margin: 25px;
}

div {
    display: flex;
    color: #fff;
    width: 30%;


}

img {
    margin: 10px;
    display: flex;
}
pa1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}
    
#festfigo{
    background-color: #fafafa;
    width: 500px;
    height: 300px;
    justify-content: space-between;
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    
}
#porksfest{
    background-color: #fafafa;
    width: 500px;
    height: 300px;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#casacult{
    background-image: url(../../../../img/casa\ da\ cultura.webp);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 300px;

    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#biblioteca{
    background-image: url(../../../../img/biblioteca\ publica.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#artederua{
    background-image: url(../../../../img/arte\ de\ rua.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}
#batalha{
    background-image: url(../../../../img/batalha\ de\ rima.webp);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 300px;
   
    box-shadow: -webkit-box-shadow 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.75);
}

section:hover{
    transform: scale(1.10);
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 1500px 1500px rgba(0,0,0,0.4);
}