body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #3f5562;
}
h2{
    margin-left: 10%;
    color: #3f5562;
    text-align: left;
}
img{
    display: block;
    border-radius: 50%;
    margin-left: 15%;
}